.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    90deg,
    #eee,
    #f5f5f5,
    #eee
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
}

.skeleton-text {
  height: 1rem;
  margin-bottom: 0.5rem;
}

.skeleton-title {
  height: 1.5rem;
  margin-bottom: 1rem;
}

.skeleton-image {
  width: 100%;
  height: 200px; /* Default height */
  border-radius: 15px 15px 0 0;
}

.skeleton-card {
    border-radius: 15px;
    height: 100%;
}

.skeleton-circle {
    border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
